@import "mixins.less";
@import "reset.less";

// Media Queries
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

html, body {
  height: 100%;
}
body {
  background: #1e1f27;
  color: #dfdfdf;
}
.wrapper {
  height: auto;
  min-height: 100%;
  max-width: 525px;
  margin: auto;
}
h1.logo {
  text-indent: -9999px;
  background: url('logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 0 auto 80px auto;
  display: block;
  .at2x('logo@2x.png', 150px, 150px);
}
h2.customers {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-image: url('customers.png');
  background-position: 0 0;
  .at2x('customers@2x.png', 330px, 140px);
  width: 330px;
  height: 70px;
  margin: 5px auto;
  display: block;
  zoom: 0.9;
  &:hover {
    background-position: 0 -70px;
  }
}
.content {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 13pt;
  text-align: center;
  line-height: 1.35em;
  min-height: 300px;
  padding: 110px 12px;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
footer {
  letter-spacing: 1px;
  position: relative;
  margin-top: -50px;
  height: 40px;
  clear: both;
  padding-top: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  text-align: center;
  a {
    color: #dfdfdf;
    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .content {
    padding-top: 60px;
    font-size: 12pt;
    h1.logo {
      margin-bottom: 0;
      letter-spacing: 0;
    }
  }
  footer {
    font-size: 12pt;
  }
}
